<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static "chat/afterlogin.css" %}">
    
    <script type="text/javascript">
        function sendmessage() {
            var chatBox = $(".messages:visible:first");   
            console.log(chatBox);
            var new_node =  $( '#text' ).val();
            var div = $('<div></div>');
            div.attr('class', '');
            var text = $( '#text' ).val();
            var textNode = document.createTextNode(text);
            div.append(textNode);
            div.attr('class', 'display');
            chatBox.append(div);
            $( '#text' ).val("");
        }

        function showdiv(x) {
            $( '.messages' ).hide();
            $(".sendmsg").hide();
            var id = '#message' + x;
            $( id ).show();
            id = "#sendmsg" + x;
            $( id ).show();
        }

    </script>
</head>

<body>
    <div id="leftdiv">
        <div id="profilepart">
            <img src="{% static "chat/8.png" %}">
            <button>SignOut</button>
        </div>
        <div id="logo">
            <img src="{% static "chat/logo.gif" %}">
        </div>
        <div id="contacts">
      
            {% for group in user.groupprofile_set.all %}
            <div onclick="showdiv({{ group.pk }})" 
                class="contact_names" id="contact{{ group.pk  }}">
                {{ group.name }}
            </div>
            {% endfor %}
        
        </div>
    </div>

    <div id="rightdiv">
        <div id="searchbar">
            <input type="search" name="search" placeholder="Search">
            <input type="button" id="sub" 
                onclick="autocomplete()" value="Submit>
        </div>
        
        {% for group in user.groupprofile_set.all %}
        <div id="message{{ group.pk }}" class="messages">
        </div>
        {% endfor %}
        
        <div id="textbox">
            <input type="text" id="text" name="text" 
                placeholder="Type a message" autofocus>
            {% for group in user.groupprofile_set.all %}
            <button id="sendmsg{{ group.pk }}" 
                class = "sendmsg">
                Send
            </button>
            {% endfor %}

        </div>
        <script>
            $( '.messages' ).hide();
            $(".sendmsg").hide();
            $( '.messages' ).eq(0).show();
            $( '.sendmsg' ).eq(0).show();
        </script>
    </div>
</body>

<script>
    function add_old() {
        {% for group in user.groupprofile_set.all %}
            var chatBox = $("#message"+ {{ group.pk }});   
            {% for message in group.message_set.all %}
                var div = $('<div></div>');
                var text = "{{message.text}}";
                var textNode = document.createTextNode(text);
                div.append(textNode);
                div.attr('class', 'display');
                chatBox.append(div);
            {% endfor %}
        {% endfor %}
    };
    add_old();
    
    $(" .sendmsg ").each(function() {
        var roomName = this.id.slice(7);
        
        var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            console.log(data);
            
            console.log(data['owner'], {{ user.pk }});

            var chatBox = $("#message"+ data['group']);   
            var new_node =  $( '#text' ).val();
            var div = $('<div></div>');
            var textNode = document.createTextNode(message);
            div.append(textNode);
            div.attr('class', 'display');
            chatBox.append(div);
            $( '#text' ).val("");
            div.focus()
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        this.onclick = function(e) {
            var messageInputDom = document.querySelector('#text');
            var message = messageInputDom.value;
            console.log(roomName, chatSocket);
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            
            messageInputDom.value = '';
        };
    });
</script>

</html>